
<div class="repolist">
  <% @repos.each do |repo| %>
    <h2><%= link_to repo.name, :action => "show", :id => repo.name %></h2>
  <% end %>
</div>

<div class="right">
 <ul class="commitlist short">
    <% @commits.each do |commit, repo, date| %>
      <li>
        <strong><%= repo.name %></strong>
        <%= commit.message %><br />
        <strong><%= commit.author %></strong>
        <%= distance_of_time_in_words_to_now(commit.date) %> ago
      </li>
    <% end %>
  </ul>
</div>
